button{
    width: 250px;
    height: 80px;
    color: black;
    border: 2px solid #f5eded;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #cce3e3;
}
.clickButton{
    background-color: antiquewhite;
}
.restartButton{
    background-color: bisque;
}