button{
    width: 250px;
    height: 80px;
    color: black;
    font-size: 1.2rem;
    border: 2px solid #f5eded;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #ebf1f1;
}
.clickButton{
    background-color: #ffb7d2;
}
.restartButton{
    background-color: #ffb7d2;
}