*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #f592a6;
  height: 100vh;
  max-width: 100%;
  min-width: 100%;
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.titleApp{
  color: #ede9f0;
  font-size: 2.8rem;
}
footer{
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}